<div class="parent">
    <mat-form-field>
        <h5>Name</h5>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field>
        <h5>Last Name</h5>
        <input matInput>
      </mat-form-field><br>
       <mat-form-field>
        <h5>Email</h5>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field>
        <h5>Contact</h5>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field>
        <h5>Address</h5>
        <input matInput>
      </mat-form-field><br>
    
      <button mat-raised-button color="accent">Continue</button>&nbsp;
      <button mat-raised-button color="accent">Cancle</button>
    
</div>